body{
 background-color: rgb(28, 27, 27);

}

#cadastro{
    border-radius:30px ; 
    background-color: #e3e3e3;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
    width: 33%;
    
}
#senha ,#name {
    border-radius: 20px;
    padding: 3px;
}
#name{
    margin-top: 20px;
}
#click { 
  text-decoration: none;
  color:black;
  background-color: aqua;
  padding: 7px;
  border-radius: 20px;
  transition-duration: 1s;
}
#barra {
    background-color: #e3e3e3;

}
